<!DOCTYPE html>
<html>
  <head>
    <title>BeatdAppChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Welcome</a>
      <ul class="navbar-nav">
        <% if user_signed_in?%>
          <li class="nav-item">
            <a class="nav-link" href="/expenses">Expenses</a>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", session_path, method: :delete, class: "nav-link", data: {confirm: "Are you sure you want to log out?"}%>
          </li>
        <% else%>
          <li class="nav-item active">
            <a class="nav-link" href="/users/new">Register <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/session/new">Login</a>
          </li>
        <%end%>

      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
